nav {
  background-color: rgb(89, 158, 255);
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-around;
}
nav a {
  color: rgba(0,139, 139, 1);
}


/* Page styles */
  .header{
    width: 100%;
    display: inline-block;
    background-color: rgba(0,139, 139,0.8);
    padding: 10px 15px;
    margin: 0;
    margin-bottom: 0px;
  }
  .logoZone{
    width: 100%;
    display: flex;
    background-color: rgb(184, 210, 247);
    padding: 50px 15px;
    margin-top: 0px;
    margin: 0;
    margin-bottom: 0px;
    justify-content: center;
  }
  .personalLinks{
    width: 100%;
    display: flex;
    margin-top: 0px;
    background-color: rgb(184, 210, 247);
    justify-content: space-around;
  }
.grid {
    display: flex;
    justify-content: flex-start;
    width: 250px;
}
.footerSide {
    width: 25%;
    display: inline-flexbox;
    background-color: rgba(0,139, 139,0.8);
    padding: 10px 15px;
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
  }
.footerSide a {
color: rgba(0,110, 110, 1);
}

.footerMiddle {
  width: 50%;
  display: inline-flex;
  background-color: rgba(184, 210, 247);
  padding: 10px 15px;
  margin: 0;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.footerMiddle a {
color: rgba(0,110, 110, 1);
}