.header{
    width: 100%;
    display: inline-block;
    background-color: rgba(0,139, 139,0.8);
    padding: 10px 15px;
    margin: 0;
    margin-bottom: 10px;
  }
  nav {
    background-color: rgb(89, 158, 255);
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-around;
  }
  nav a {
    color: rgba(0,139, 139, 1);
  }
  .logoZone{
    width: 100%;
    display: inline-block;
    background-color: rgb(184, 210, 247);
    padding: 50px 15px;
    margin: 0;
    margin-bottom: 10px;
  }


/* Page styles */

.grid {
    display: flex;
    /*justify-content: center;*/
    width: 250px;
    flex-flow: row;
}

.footer {
    width: 100%;
    display: inline-block;
    background-color: rgba(0,139, 139,0.8);
    padding: 10px 15px;
    margin: 0;
    margin-top: 10px;
  }
.footer a {
color: rgba(0,110, 110, 1);
}